<div class="container-fluid p-4">
  <div class=" formbg p-4 mt-3">
    <button class="btn btn-primary m-3" style="float: left;" (click)="Print()">Print</button>
    <!-- <button class="btn btn-primary m-3" printSectionId="print-section" ngxPrint style="float: left;">Print</button>  -->
    <div class="rounded bg-light p-4">
      <form #printContainer class="d-flex flex-column align-items-center justify-content-center" id="print-section">
        <h3 class="mb-2 text-center " style="color: #4f6d7a;">تفاصيل الطلب </h3><br>

        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">نوع الطلب :</span>
          <span *ngIf="orderData.orderType==0" style="font-size: large;" class="p-2">الاستلام من الفرع</span>
          <span *ngIf="orderData.orderType==1" style="font-size: large;" class="p-2">الاستلام من التاجر</span>
        </div>

        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">وسيلة الدفع :</span>
          <span *ngIf="orderData.paymentType==0" style="font-size: large;" class="p-2">دفع عند التوصيل</span>
          <span *ngIf="orderData.paymentType==1" style="font-size: large;" class="p-2">دفع مقدم </span>
          <span *ngIf="orderData.paymentType==2" style="font-size: large;" class="p-2">طرد مقابل طرد</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">اسم العميل :</span>
          <span style="font-size: large; " class="p-2">{{orderData.clientName}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">رقم الهاتف الأول :</span>
          <span style="font-size: large;" class="p-2">{{orderData.firstPhoneNumber}}</span>
        </div>
        <div class="mb-3" *ngIf="orderData.secondPhoneNumber">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">رقم الهاتف الثاني :</span>
          <span style="font-size: large;" class="p-2">{{orderData.secondPhoneNumber}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">البريد الإلكتروني :</span>
          <span style="font-size: large;" class="p-2">{{orderData.email}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large;color: #4f6d7a;" class="p-4">المحافظة :</span>
          <span style="font-size: large;" class="p-2">{{orderData.governorate}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large; color: #4f6d7a;" class="p-4">المدينة :</span>
          <span style="font-size: large;" class="p-2">{{orderData.city}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large;color: #4f6d7a;" class="p-4">الشارع :</span>
          <span style="font-size: large;" class="p-2">{{orderData.street}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large;color: #4f6d7a;" class="p-4">نوع الشحن :</span>
          <span style="font-size: large;" class="p-2">{{orderData.shippingType}}</span>
        </div>
        <div class="mb-3">
          <span style="font-size: x-large;color: #4f6d7a;" class="p-4">الفرع :</span>
          <span style="font-size: large;" class="p-2">{{orderData.branch}}</span>
        </div>
        <div *ngIf="orderData.notes" class="mb-3">
          <span style="font-size: x-large;color: #4f6d7a;" class="p-4">الملاحظات :</span>
          <span style="font-size: large;" class="p-2">{{orderData.notes}}</span>
        </div>
        <table class="table text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">الرقم</th>
              <th scope="col">اسم المنتج</th>
              <th scope="col">الوزن</th>
              <th scope="col">الكمية</th>
              <th scope="col">السعر</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of orderData.products; let i=index">
              <th scope="row" class="py-3">{{i+1}}</th>
              <td>
                <div class="mb-3">
                  {{product.name}}
                </div>
              </td>
              <td>
                <div class="mb-3">
                  {{product.weight}}
                </div>
              </td>
              <td>
                <div class="mb-3">
                  {{product.quantity}}
                </div>
              </td>
              <td>
                <div class="mb-3">
                  {{product.price}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

    </div>
  </div>
</div>