<div class="container p-4">
  <div class="bg-light shadow p-4 rounded">
    <div>
      <h5 class="textColor text-center">اضافة مدينة</h5>
    </div>
    <form [formGroup]="CityForm" (ngSubmit)="AddCity()" class="d-flex flex-row justify-content-center">
      <div class="w-50">
        <div class="name mb-3">
          <h5 class="textColor my-2">اسم المدينة</h5>
          <input type="text" class="form-control p-2" placeholder="اسم المدينة" formControlName="Name" />
          <div class="errs" *ngIf="
              CityForm.get('Name')?.errors && CityForm.get('Name')?.touched
            ">
            <p class="text-danger" *ngIf="CityForm.get('Name')?.errors?.['required']">
              الاسم مطلوب
            </p>
          </div>
          <div class="form-group mb-3">
            <label for="governorate" class="my-2 textColor">المحافظة</label>
            <select id="governorate" class="form-control p-2" formControlName="GovernorateId">
              <option value="" selected>اختر المحافظة</option>
              <option *ngFor="let gov of governorates" [value]="gov.id">
                {{ gov.name }}
              </option>
            </select>
          </div>
          <div class="errs" *ngIf="
              CityForm.get('GovernorateId')?.errors &&
              CityForm.get('GovernorateId')?.touched
            ">
            <p class="text-danger" *ngIf="CityForm.get('GovernorateId')?.errors?.['required']">
              المحافظة مطلوبة
            </p>
          </div>
          <div class="form-group mb-3">
            <h5 class="textColor my-2">تكلفة الشحن</h5>
            <input type="number" class="form-control p-2" placeholder="تكلفة الشحن" formControlName="Price" />
            <div class="errs" *ngIf="
                CityForm.get('Price')?.errors && CityForm.get('Price')?.touched
              ">
              <p class="text-danger" *ngIf="CityForm.get('Price')?.errors?.['required']">
                تكلفة الشحن مطلوبة
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <h5 class="textColor my-2">تكلفة ال Pickup</h5>
            <input type="number" class="form-control p-2" placeholder="تكلفة الPickup" formControlName="Pickup" />
            <div class="errs" *ngIf="
                CityForm.get('Pickup')?.errors &&
                CityForm.get('Pickup')?.touched
              ">
              <p class="text-danger" *ngIf="CityForm.get('Pickup')?.errors?.['required']">
                مطلوب
              </p>
            </div>
          </div>
          <div class="text-center mb-3">
            <button [disabled]="CityForm.invalid" type="submit" class="special w-25 text-center btn btn-primary">
              اضافة
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>