<div class="container-fluid py-5">
    <div class=" mt-3">
        <div class="container-fluid">
            <div class="row p-4">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" *ngFor="let status of countOfOrders;let i=index">
                    <a style="text-decoration: none;" *ngIf="!hasPermission('Show')">
                        <div class="card shadow mb-5 rounded " style="background-color: #f8f9fa;">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers pt-3">
                                            <p class="text-center textColor mb-0 ">
                                                {{StatusNames[i]}}</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow text-center rounded display-6" style="color: #1ca3c4;">
                                            <p>{{countOfOrders[i]}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/employee/orders/{{i}}" style="text-decoration: none;" *ngIf="hasPermission('Show')">
                      <div class="card shadow mb-5 rounded" style="background-color: #f8f9fa;">
                          <div class="card-body p-3">
                              <div class="row">
                                  <div class="col-8">
                                      <div class="numbers pt-3">
                                          <p class="text-center textColor mb-0 ">
                                              {{StatusNames[i]}}</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="shadow text-center rounded display-6" style="color: #1ca3c4;">
                                          <p>{{countOfOrders[i]}}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
