<div class="container page">
    <div class="d-flex page__box p-3">المحافظات</div>
    <div class="page__content shadow position-relative">
        <div class="page__content-data position-absolute w-100">
            <div class="content">
                <div class="controls my-3 p-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" (click)="addModal.show()">اضافة
                        محافظة</button>
                    <input type="text" class="form-control w-25">
                </div>
                <div class="container">
                    <div class="myElements ">
                        <table class="table table-bordered table-striped text-center">
                            <thead class="text-success">
                                <th>م</th>
                                <th>اسم المحافظة</th>
                                <th>الاعدادت</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of governerates; let i = index">
                                    <td>{{i+1}}</td>
                                    <td class="text-primary">{{item.name}}</td>
                                    <td>
                                        <button (click)="GetCurrentId(item.id);updateModal.show()" class="btn btn-warning">تعديل</button>
                                        <button (click)="GetCurrentId(item.id);deleteModal.show()" class="btn btn-danger">حذف</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add modal  -->

<div class="modal fade"
bsModal
#addModal="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اضافة محافظة</h5>
            </div>
            <form [formGroup]="GovernorateForm" (ngSubmit)="AddGovernorate(GovernorateForm)">
                <div class="modal-body">
                    <div class="name">
                        <input type="text" class="form-control" placeholder="اسم المحافظة" formControlName="Name">
                        <div class="errs"
                            *ngIf="GovernorateForm.get('Name')?.errors && GovernorateForm.get('Name')?.touched">
                            <p class="text-danger" *ngIf="GovernorateForm.get('Name')?.errors?.['required']">الاسم مطلوب
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="GovernorateForm.invalid" type="submit"
                        class="special btn btn-primary">اضافة</button>
                    <button type="button" class="btn btn-secondary" (click)="addModal.hide()">اغلاق</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- delete modal -->
<div class="modal fade"
bsModal
#deleteModal="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="staticBackdropLabel">حذف محافظة</h5>
            </div>
            <div class="modal-body text-secondary fw-bold">
                هل انت تريد حذف هذه المحافظة ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="DeleteGovernorate()"
                    data-bs-dismiss="modal">حذف</button>
                <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">اغلاق</button>
            </div>
        </div>
    </div>
</div>



<!-- Update modal -->
<div class="modal fade"
bsModal
#updateModal="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="staticBackdropLabel">تعديل محافظة</h5>
            </div>
            <form [formGroup]="GovernorateUpdateForm" (ngSubmit)="UpdateGovernorate(GovernorateUpdateForm)">
                <div class="modal-body text-secondary fw-bold">
                    <div class="name">
                        <input type="text" class="form-control" placeholder="اسم المحافظة" formControlName="Name">
                        <div class="errs"
                            *ngIf="GovernorateUpdateForm.get('Name')?.errors && GovernorateUpdateForm.get('Name')?.touched">
                            <p class="text-danger" *ngIf="GovernorateUpdateForm.get('Name')?.errors?.['required']">الاسم
                                مطلوب</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="GovernorateUpdateForm.invalid" type="submit" class="btn btn-warning"
                        data-bs-dismiss="modal">تعديل</button>
                    <button type="button" class="btn btn-secondary" (click)="updateModal.hide()">اغلاق</button>
                </div>
            </form>
        </div>
    </div>
</div>
