<div class="container-fluid p-4">
  <div class=" formbg p-4 mt-3">
    <div  class="d-flex flex-wrap justify-content-end">
      <div>
      </div>
  </div>
    <div class="d-flex flex-wrap justify-content-between mt-3">

      <input type="search" style="width: 20%;float: left;" class="form-control" placeholder="ابحث...."
        (input)="Search($event)" />
        <div class="d-flex">
          <select class="form-select mr-3" style="width:70px;" (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">{{size}}</option>
          </select>
          <img (click)="exportToExcel()" src="https://w7.pngwing.com/pngs/670/803/png-transparent-excel-logo-logos-logos-and-brands-icon-thumbnail.png" style="width: 70px; height: 50px;" class="btn mr-5" title="excel icons"/>

        </div>


    </div>
    <div class="row justify-content-center my-3">
      <div class="col-12 ">
        <table class="table text-center my-4" id="tableId" #tableRef>
          <thead class="table-dark">
            <tr class="text-center">
              <th>#</th>
              <th>اسم العميل</th>
              <th>التاريخ</th>
              <th>المحافظة</th>
              <th>المدينة</th>
              <th>تكلفة الطلب</th>
              <th *ngIf="orderStatusNow!=0">عرض الطلب</th>
              <th *ngIf="orderStatusNow==1 && hasPermission('Edit')">اسناد لمندوب</th>
              <th *ngIf="orderStatusNow==0 && hasPermission('Edit')" class="state-column">تغيير الحالة</th>
              <th>طباعه</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="
          let order of CurrentOrders
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: count
                };let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ order.clientName }}</td>
              <td>{{ order.date | date:'medium' }}</td>
              <td>{{ order.governorate }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.cost }}</td>
              <td *ngIf="orderStatusNow!=0"><a style="color: #00b4d8;font-size: larger;"
                  [routerLink]="['display/',order.id]"><i class="fa-solid fa-eye"></i></a></td>
              <td *ngIf="orderStatusNow==1 && hasPermission('Edit')"><a class="btn btn-primary" (click)="open(mymodal,order.id)"
                  (click)="DropdownListRepresentative()">اسناد</a></td>
              <td *ngIf="orderStatusNow==0 && hasPermission('Edit')" class="state-column"><a class="btn btn-primary" (click)="open(mymodal,order.id)">الحالة</a></td>
              <td><a style="color: #00b4d8;font-size: larger;" [routerLink]="['display/',order.id]"><i
                    class="fa-solid fa-print"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class>

      <!-- In case new order -->
      <select *ngIf="orderStatusNow==0" class="form-select" id="ddlneworder" style="width: 50%;">
        <option value="0">اختر الحاله</option>
        <option value="1">قيد الانتظار</option>
        <option value="10">رفض</option>
      </select>

      <!-- In case pending order -->
      <select *ngIf="orderStatusNow==1" class="form-select" id="ddlneworder" style="width: 50%;">
        <option value="0" selected>اختر مندوب</option>
        <option *ngFor="let representative of listRepresentative" [value]="representative.id">{{representative.name}}
        </option>
      </select>

      <!-- In case other order -->
      <select *ngIf="orderStatusNow!=0&&orderStatusNow!=1" id="ddlneworder" class="form-select" style="width: 50%;">

        <option *ngFor="let status of StatusNamesExpectNewPendingAndReject" [value]="status.value">{{status.name}}
        </option>

      </select>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">الغاء</button>
    <button *ngIf="orderStatusNow!=1" type="button" class="btn btn-primary" (click)="modal.close('Save click')"
      (click)="ChangeOrderStatus()">حفظ</button>
    <button *ngIf="orderStatusNow==1" type="button" class="btn btn-primary" (click)="modal.close('Save click')"
      (click)="SaveSelectedRepresentative()">حفظ</button>
  </div>
</ng-template>
