<div class="container py-5">
    <button class="btn btn-primary " (click)="addEmployee()">اضافة موظف</button>
    <div class="row justify-content-center pt-5">
        <div class="form-group  col-lg-3 col-2">
            <input type="text" (keyup)="onSearch()" placeholder="بحث" class="form-control me-2" #search>
        </div>
        <div class="col-2">
            <button (click)="onReset()" class="btn btn-primary me-0 ">اعادة ضبط</button>
        </div>
        <div class="col-1 col-md-3 col-lg-4">

        </div>
        <div class="form-group  col-1">
            <app-page-size (pageSizeChanged)="onPageSizeChange($event)"></app-page-size>
        </div>
        <div class="form-group  col-1 p-0 m-0">
            <app-sort (sort)="onSort()"></app-sort>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10 col-8">
            <table class="table bg-white table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الاسم</th>
                        <th scope="col">البريد الالكتروني</th>
                        <th scope="col">رقم الهاتف</th>
                        <th scope="col">الفرع</th>
                        <th scope="col">الصلحيات</th>
                        <th scope="col">الحالة</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of Employees; let id = index">
                        <td>{{ id + 1 }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.branchName }}</td>
                        <td>{{ employee.groupName }}</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="isDeleted{{id}}"
                                    [checked]="employee.isDeleted" (change)="toggleDelete(employee)"
                                    [disabled]="employee.isDeleted">
                                <label class="form-check-label" for="isDeleted{{id}}">
                                    {{ employee.isDeleted ? 'Deleted' : 'Active' }}
                                </label>
                            </div>
                        </td>
                        <td>
                            <a class="" *ngIf="!employee.isDeleted" (click)="editEmployee(employee.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                                    <path
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"
                                        style="fill : #E8DAB2 " />
                                </svg></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="totalCount>0">
        <div class="col-lg-4 col-md-3 col-2">
            <app-pager [totalCount]="totalCount" [pageSize]="employeeParams.pageSize"
                (pageChanged)="onPageChanged($event)"></app-pager>
        </div>
        <div class="col-lg-4 col-md-3 col-2">

        </div>

        <div class="col-lg-4 col-md-3 col-2">
            <app-paging-header [totalCount]=" totalCount" [pageNumper]="employeeParams.pageNumper"
                [pageSize]="employeeParams.pageSize"></app-paging-header>
        </div>
    </div>
</div>
<router-outlet></router-outlet>