.btn-main{
    background-color: #4F6D7A;
    color: #fff;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon svg, .inner-addon svg{
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 60%;
  left: 2%;
  }
  .hide{
    display: none;
  }
  .pointer{
    cursor: pointer;
  }
  .text-main{
    color: #2a6889;
  }
  .bg-gray{
    background-color: #eaeaeaa7;
  }
