<div class="container p-4">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="my-4">
      <h4 class="textColor  m-0  py-2 border-botom text-center">{{message}}</h4>
    </div>
    <h5>
      <span class="textColor">اجمالي الوزن :  </span>
      <span>{{weight}} كيلو جرام</span>
    </h5>
    <h5>
      <span class="textColor">اجمالي تكلفة المنتجات :  </span>
      <span>{{productCost}} جنيه مصري</span>
    </h5>
    <h5>
      <span class="textColor">اجمالي تكلفة الشحن :  </span>
      <span>{{shippingCost}} جنيه مصري</span>
    </h5>
    <h5 >
      <span class="textColor">اجمالي تكلفة الطلب :  </span>
      <span>{{productCost+shippingCost}} جنيه مصري</span>
    </h5>
    <div class="form-group">
    </div>
  </div>
</div>

