<div class="px-4 py-2">
    <div class="page   p-4 my-3  mx-auto  rounded">
        <form class="flex flex-wrap" [formGroup]="AddGroupForm">
            <div class="form-group">
                <label for="" class="form-label  textColor">اسم الصلاحية</label>
                <input type="text" class="form-control w-50" placeholder="اسم الصلاحية" formControlName="name" />
            </div>
            <ng-container *ngIf="getName.touched">
                <div *ngIf="getName.hasError('required')" class="form-text text-danger">
                    الاسم مطلوب
                </div>
            </ng-container>
            <table class="table mt-3 rounded">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>#</th>
                        <th>الاسم</th>
                        <th>اضافه</th>
                        <th>حذف</th>
                        <th>تعديل</th>
                        <th>عرض</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of groupPrivilagesArr; let i =index">
                        <td class="py-4">{{i+1}}</td>
                        <td class="py-4">{{item.name}}</td>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox"
                                (click)="AddOrRemovePermission(item.value,AddAction)" id="flexCheckDefault">
                        </td>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox"
                                (click)="AddOrRemovePermission(item.value,DeleteAction)" id="flexCheckDefault">
                        </td>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox"
                                (click)="AddOrRemovePermission(item.value,EditAction)" id="flexCheckDefault">
                        </td>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox"
                                (click)="AddOrRemovePermission(item.value,ShowAction)" id="flexCheckDefault">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary w-25" (click)="SubmitGroupFrom()">حفظ</button>
        </form>

    </div>
</div>
