<div class="container p-5">
  <div class="d-flex justify-content-center bg-light rounded shadow">
      <div class="w-75 p-5">
          <form [formGroup]="updateRepresentativeForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row justify-content-between mb-3">
              <h5 (click)="showInfo(1)" class="step p-3" [class.active]="personalInfo">البيانات الشخصية</h5>
              <h5 (click)="showInfo(3)" class="step p-3" [class.active]="jobInfo">معلومات المندوب</h5>
            </div>
            <div *ngIf="personalInfo">
              <div class="form-group mb-3">
                <label for="name" class="fw-bold mb-1">الاسم</label>
                <input formControlName="name" id="name" type="text" class="form-control p-2" placeholder="ادخل الاسم">
                <div *ngIf="updateRepresentativeForm.get('name')!.invalid && updateRepresentativeForm.get('name')!.touched">
                    <div class="text-danger" *ngIf="updateRepresentativeForm.get('name')!.errors!['required']">
                        الاسم مطلوب
                    </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="phoneNumber">رقم الهاتف </label>
                <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control p-2" placeholder="ادخل رقم الهاتف">
                <div
                    *ngIf="updateRepresentativeForm.get('phoneNumber')!.invalid && updateRepresentativeForm.get('phoneNumber')!.touched">
                    <div class="text-danger" *ngIf="updateRepresentativeForm.get('phoneNumber')!.errors!['required']">
                        رقم الهاتف مطلوب
                    </div>
                    <div class="text-danger"
                        *ngIf="updateRepresentativeForm.get('phoneNumber')?.hasError('minlength') || updateRepresentativeForm.get('phoneNumber')?.hasError('maxlength')">
                        رقم الهاتف غير صحيح
                    </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="address" class="fw-bold mb-1">العنوان</label>
                <input formControlName="address" id="address" type="text" class="form-control p-2" placeholder="ادخل العنوان ">
                <div
                    *ngIf="updateRepresentativeForm.get('phoneNumber')!.invalid && updateRepresentativeForm.get('phoneNumber')!.touched">
                    <div class="text-danger" *ngIf="updateRepresentativeForm.get('phoneNumber')!.errors!['required']">
                        العنوان مطلوب
                    </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <a (click)="showInfo(3)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
                </a>
              </div>
            </div>
            <div *ngIf="jobInfo">
              <div class="row">
                <div class="form-group mb-3 col">
                  <label for="branch" class="fw-bold mb-1">الفرع</label>
                  <select formControlName="branchId" id="branch" class="form-control p-2" placeholder="ادخل الفرع">
                      <option value="">اختر الفرع</option>
                      <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
                  </select>
                  <div *ngIf="updateRepresentativeForm.get('branchId')!.invalid && updateRepresentativeForm.get('branchId')!.touched">
                      <div class="text-danger" *ngIf="updateRepresentativeForm.get('branchId')!.errors!['required']">
                          الفرع مطلوب
                      </div>
                  </div>
                </div>
                <div class="form-group mb-3 col">
                  <label class="fw-bold mb-1">المحافظات</label>
                  <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="governorates" placeholder="اختر المحافظات"
                    (onSelect)="OnSelect($event)" (onDeSelect)="OnDeSelect($event)" (onSelectAll)="OnSelectAll($event)"
                    (onDeSelectAll)="OnDeSelectAll()">
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="row">
                <div class="form-group mb-3 col">
                  <label for="type" class="fw-bold mb-1">نوع الخصم</label>
                  <select formControlName="type" id="type" class="form-control p-2">
                      <option value="" disabled selected>اختر نوع الخصم</option>
                      <option value=0>نسبة مئوية</option>
                      <option value=1>نسبة ثابتة</option>
                  </select>
                  <div *ngIf="updateRepresentativeForm.get('type')!.invalid && updateRepresentativeForm.get('type')!.touched">
                      <div class="text-danger" *ngIf="updateRepresentativeForm.get('type')!.errors!['required']">
                          نوع الخصم مطلوب
                      </div>
                  </div>
              </div>
              <div class="form-group mb-3 col">
                  <label for="amount" class="fw-bold mb-1"> نسبة الشركة من الطلب</label>
                  <input formControlName="amount" id="amount" type="number" class="form-control p-2" placeholder="ادخل نسبة الشركة من الطلب">
                  <div *ngIf="updateRepresentativeForm.get('amount')!.invalid && updateRepresentativeForm.get('amount')!.touched">
                      <div class="text-danger" *ngIf="updateRepresentativeForm.get('amount')!.errors!['required']">
                          نسبة الشركة من الطلب مطلوبة
                      </div>
                  </div>
              </div>
              </div>
              <div class="form-group d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-primary w-25" [disabled]="updateRepresentativeForm.invalid">حفظ</button>
              </div>
              <div class="d-flex justify-content-start">
                <a (click)="showInfo(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
                </a>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
