.page {
  height: fit-content;
}

.btn-primary {
  --bs-btn-bg: #4f6d7a;
  --bs-btn-border-color: #4f6d7a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4f6d7a;
  --bs-btn-hover-border-color: #4f6d7a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4f6d7a;
  --bs-btn-active-border-color: #4f6d7a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4f6d7a;
  --bs-btn-disabled-bg: #4f6d7a7a;
  --bs-btn-disabled-border-color: #4f6d7a7a;
}
