<div class="container p-5">
  <div class="rounded bg-light shadow p-4">
    <form [formGroup]="orderForm" (ngSubmit)="addOrder()" class="d-flex flex-column align-items-center justify-content-center">
      <div class="w-75">
        <div class="d-flex flex-row justify-content-between mb-3">
          <h5 (click)="showInfo(1)" class="step p-3" [class.active]="orderInfo">بيانات الطلب</h5>
          <h5 (click)="showInfo(2)" class="step p-3" [class.active]="clientInfo">بيانات العميل</h5>
          <h5 (click)="showInfo(3)" class="step p-3" [class.active]="productInfo">المنتجات</h5>
          <h5 (click)="showInfo(4)" class="step p-3" [class.active]="notes">الملاحظات</h5>
        </div>
        <div *ngIf="orderInfo">
          <div class="row">
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">نوع الطلب</h5>
              <select class="form-control p-2" formControlName="orderType">
                <option value="" selected disabled>من فضلك اختر نوع الطلب</option>
                <option [value]="type.value" *ngFor="let type of orderTypes">{{type.name}}</option>
              </select>
              <div *ngIf="orderForm.get('orderType')!.invalid && orderForm.get('orderType')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('orderType')!.errors!['required']">
                  نوع الطلب مطلوب
                </div>
              </div>
            </div>
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">وسيلة الدفع</h5>
              <select class="form-control p-2" formControlName="paymentType">
                <option value="" selected disabled>من فضلك اختر وسيلة الدفع</option>
                <option [value]="type.value" *ngFor="let type of paymentTypes">{{type.name}}</option>
              </select>
              <div *ngIf="orderForm.get('paymentType')!.invalid && orderForm.get('paymentType')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('paymentType')!.errors!['required']">
                  وسيلة الدفع مطلوبة
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <h5 class="fw-bold">نوع الشحن</h5>
            <select class="form-control p-2" formControlName="shippingType">
              <option value="" selected disabled>من فضلك اختر نوع الشحن</option>
              <option [value]="type.id" *ngFor="let type of shippingTypes">{{type.name}}</option>
            </select>
            <div *ngIf="orderForm.get('shippingType')!.invalid && orderForm.get('shippingType')!.touched">
              <div class="text-danger" *ngIf="orderForm.get('shippingType')!.errors!['required']">
                نوع الشحن مطلوب
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <h5 class="fw-bold">الفرع</h5>
            <select class="form-control p-2" formControlName="branch">
              <option value="" selected disabled>من فضلك اختر الفرع</option>
              <option [value]="branch.id" *ngFor="let branch of branches">{{branch.name}}</option>
            </select>
            <div *ngIf="orderForm.get('branch')!.invalid && orderForm.get('branch')!.touched">
              <div class="text-danger" *ngIf="orderForm.get('branch')!.errors!['required']">
                الفرع مطلوب
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a (click)="showInfo(2)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
            </a>
          </div>
        </div>
        <div *ngIf="clientInfo">
          <div class="row">
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">اسم العميل</h5>
              <input type="text" class="form-control p-2" formControlName="clientName" placeholder="ادخل اسم العميل">
              <div *ngIf="orderForm.get('clientName')!.invalid && orderForm.get('clientName')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('clientName')!.errors!['required']">
                  اسم العميل مطلوب
                </div>
                <div class="text-danger" *ngIf="orderForm.get('clientName')!.errors!['pattern']">
                  اسم العميل يجب ان يحتوي على حروف فقط
                </div>
              </div>
            </div>
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">البريد الإلكتروني</h5>
              <input type="text" class="form-control p-2" formControlName="email" placeholder="ادخل البريد الإلكتروني">
              <div *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('email')!.errors!['required']">
                  البريد الإلكتروني مطلوب
                </div>
                <div class="text-danger" *ngIf="orderForm.get('email')!.errors!['email']">
                  البريد الإلكتروني غير صحيح
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">رقم الهاتف الأول</h5>
              <input type="text" class="form-control p-2" formControlName="firstPhoneNumber" placeholder="ادخل رقم الهاتف الأول">
              <div *ngIf="orderForm.get('firstPhoneNumber')!.invalid && orderForm.get('firstPhoneNumber')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('firstPhoneNumber')!.errors!['required']">
                  رقم الهاتف مطلوب
                </div>
                <div class="text-danger" *ngIf="orderForm.get('firstPhoneNumber')!.errors!['pattern']">
                  رقم الهاتف غير صحيح
                </div>
              </div>
            </div>
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">رقم الهاتف الثاني</h5>
              <input type="text" class="form-control p-2" formControlName="secondPhoneNumber" placeholder="ادخل رقم الهاتف الثاني">
              <div *ngIf="orderForm.get('secondPhoneNumber')!.invalid && orderForm.get('secondPhoneNumber')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('secondPhoneNumber')!.errors!['pattern']">
                  رقم الهاتف غير صحيح
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">المحافظة</h5>
              <select class="form-control p-2" formControlName="governorate" (change)="selectGovernorate()">
                <option value="" selected disabled>من فضلك اختر المحافظة</option>
                <option [value]="gov.id" *ngFor="let gov of governorates">{{gov.name}}</option>
              </select>
              <div *ngIf="orderForm.get('governorate')!.invalid && orderForm.get('governorate')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('governorate')!.errors!['required']">
                  المحافظة مطلوبة
                </div>
              </div>
            </div>
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">المدينة</h5>
              <select class="form-control p-2" formControlName="city">
                <option value="" selected disabled>من فضلك اختر المدينة</option>
                <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
              </select>
              <div *ngIf="orderForm.get('city')!.invalid && orderForm.get('city')!.touched">
                <div class="text-danger" *ngIf="orderForm.get('city')!.errors!['required']">
                  المدينة مطلوبة
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group mb-3 col">
              <h5 class="fw-bold">الشارع</h5>
              <input type="text" class="form-control p-2" formControlName="street" placeholder="ادخل اسم الشارع">
            </div>
            <div class="form-check form-switch mb-3 col form-check form-switch mb-3 col d-flex justify-content-between align-items-center pt-3">
              <h5 class="form-check-label fw-bold" for="flexSwitchCheckDefault">التوصيل لقرية</h5>
              <div>
                <input class="form-check-input" type="checkbox" formControlName="village" role="switch" id="flexSwitchCheckDefault">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <a (click)="showInfo(1)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
            </a>
            <a (click)="showInfo(3)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
            </a>
          </div>
        </div>
        <div *ngIf="productInfo">
          <div class="d-flex flex-row justify-content-between">
            <div>
              <h5 class="fw-bold">
                قائمة المنتجات
              </h5>
            </div>
            <div class="form-group mb-3 text-center">
              <input type="button" value=" إضافة منتج" class="btn btn-primary px-5" (click)="addProduct()">
            </div>
          </div>
          <div formArrayName="products">
            <table class="table text-center shadow">
              <thead class="table-dark">
                <tr>
                  <th scope="col">الرقم</th>
                  <th scope="col">اسم المنتج</th>
                  <th scope="col">الوزن</th>
                  <th scope="col">الكمية</th>
                  <th scope="col">السعر</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products.controls; let i=index" [formGroupName]="i">
                  <th scope="row" class="py-3">#{{i+1}}</th>
                  <td>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control p-2" formControlName="name" placeholder="ادخل اسم المنتج">
                      <div *ngIf="product.get('name')!.invalid && product.get('name')!.touched">
                        <div class="text-danger" *ngIf="product.get('name')!.errors!['required']">
                          اسم المنتج مطلوب
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3">
                      <input type="number" class="form-control p-2" formControlName="weight" placeholder="ادخل الوزن">
                      <div *ngIf="product.get('weight')!.invalid && product.get('weight')!.touched">
                        <div class="text-danger" *ngIf="product.get('weight')!.errors!['required']">
                          الوزن مطلوب
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3">
                      <input type="number" class="form-control p-2" formControlName="quantity" placeholder="ادخل الكمية">
                      <div *ngIf="product.get('quantity')!.invalid && product.get('quantity')!.touched">
                        <div class="text-danger" *ngIf="product.get('quantity')!.errors!['required']">
                          الكمية مطلوبة
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3">
                      <input type="number" class="form-control p-2" formControlName="price" placeholder="ادخل السعر">
                      <div *ngIf="product.get('price')!.invalid && product.get('price')!.touched">
                        <div class="text-danger" *ngIf="product.get('price')!.errors!['required']">
                          السعر مطلوب
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3 ">
                      <input type="button" class="btn btn-danger  px-5" value="حذف" (click)="remove(i)">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-danger" *ngIf="isLastProduct">
            من فضلك اضف منتج واحد على الأقل
          </div>
          <div class="d-flex justify-content-between">
            <a (click)="showInfo(2)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
            </a>
            <a (click)="showInfo(4)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
            </a>
          </div>
        </div>
        <div *ngIf="notes">
          <div class="form-group mb-3">
            <h5 class="fw-bold">الملاحظات</h5>
            <textarea class="form-control p-2" formControlName="notes" placeholder="ادخل ملاحظاتك"></textarea>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="form-group mb-3 text-center">
              <input type="submit" value="إضافة" class="btn btn-primary px-5" [disabled]="!orderForm.valid">
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <a (click)="showInfo(3)">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill" height="1.5em" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>








